version: "3.8"

services:
  neo4j:
    image: neo4j:5.12
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: "neo4j/2Engussla"
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    restart: unless-stopped

  api:
    build: ./api
    container_name: neo4j-api
    depends_on:
      - neo4j
    environment:
      NEO4J_URI: bolt://neo4j:7687
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: 2Engussla
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  neo4j_data:
  neo4j_logs:
